img {
    width: 200px;
    height: 200px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: Black;}
    
li {
        float: left;
    }
    
li a {
        display: block;
        color: red;
        text-align: center;
        text-decoration: none;
    }
